@font-face {
  font-family: 'Roboto Condensed';
  src: url('./assets//font/RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} 

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  line-height: initial;
}

p {
  margin-top: 0px;
}

nav {
  line-height: initial;
  background-color: initial;
  box-shadow: none;
}

ol {
  margin: 0px;
}